body{
    font-family: 'Times New Roman', Times, serif;
}

.main{
    max-width: min(95vw, 900px);
    margin: auto;
}

#a{
    display: flex;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4ch;
    gap: max(5vw, 4ch);
}

img{
    display: block;
    width: 100%;

}

p{
    width: 60ch;
}

.sec{
    width: 60ch;
}

.contents{
    padding: 1ch;
    font-size: 1.1em;
}

.contents > * {
    outline: black 1px solid;
    display: block;
    padding: 0.5ch;
}

.frwjkl > li{
    margin-bottom: 2ch;
}
